{% extends "./layout.njk" %}

    {% block head %}
        <title>Foodfy - Sobre</title>
    {% endblock %}
    {% block content %}
        <div class="about">
            <h1>Sobre o Foodfy</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non ipsum sit amet ipsum ornare scelerisque. Nullam tincidunt ut sem id consequat. Aenean ut nulla nisl. Vestibulum sed eros tempor, consectetur nibh in, mattis erat. Aenean laoreet enim nisl, sit amet fringilla lacus pellentesque in. Pellentesque consequat, libero condimentum volutpat gravida, risus lorem fringilla eros, pellentesque interdum metus urna non dui. Ut eget ante volutpat, cursus tellus nec, consequat nunc. Donec mollis tellus quis magna tincidunt, efficitur tristique nisl lobortis. Aliquam posuere convallis convallis.<br><br>
                Sed gravida lobortis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris non dolor in tortor bibendum malesuada. Morbi velit ipsum, dapibus a tincidunt ac, commodo et mi. Quisque vehicula euismod purus auctor blandit. Aliquam vitae felis lectus. Morbi feugiat ullamcorper leo sed interdum. Nulla gravida augue ut justo ultricies, ac posuere enim viverra.</p>
            <h2>Como tudo começou...</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non ipsum sit amet ipsum ornare scelerisque. Nullam tincidunt ut sem id consequat. Aenean ut nulla nisl. Vestibulum sed eros tempor, consectetur nibh in, mattis erat. Aenean laoreet enim nisl, sit amet fringilla lacus pellentesque in. Pellentesque consequat, libero condimentum volutpat gravida, risus lorem fringilla eros, pellentesque interdum metus urna non dui. Ut eget ante volutpat, cursus tellus nec, consequat nunc. Donec mollis tellus quis magna tincidunt, efficitur tristique nisl lobortis. Aliquam posuere convallis convallis.<br><br>

                Sed gravida lobortis elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris non dolor in tortor bibendum malesuada. Morbi velit ipsum, dapibus a tincidunt ac, commodo et mi. Quisque vehicula euismod purus auctor blandit. Aliquam vitae felis lectus. Morbi feugiat ullamcorper leo sed interdum. Nulla gravida augue ut justo ultricies, ac posuere enim viverra.</p>
            <h2>Nossas receitas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non ipsum sit amet ipsum ornare scelerisque. Nullam tincidunt ut sem id consequat. Aenean ut nulla nisl. Vestibulum sed eros tempor, consectetur nibh in, mattis erat. Aenean laoreet enim nisl, sit amet fringilla lacus pellentesque in. Pellentesque consequat, libero condimentum volutpat gravida, risus lorem fringilla eros, pellentesque interdum metus urna non dui. Ut eget ante volutpat, cursus tellus nec, consequat nunc. Donec mollis tellus quis magna tincidunt, efficitur tristique nisl lobortis. Aliquam posuere convallis convallis.</p>
        </div>
    {% endblock %}