{% extends "./layout.njk" %}

    {% block head %}
        <title>Foodfy - Buscando por Receitas</title>
    {% endblock %}
    {% block content %}
        <div class="recipes-home">
            <h1>Buscando por "{{filter}}"</h1>
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card" id="{{recipe.id}}">
                        <img src="{{recipe.src}}" alt="{{recipe.title}}">
                        <div class="card-info">
                            <h2>{{recipe.title}}</h2>
                            <p>por {{recipe.chef_name}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}