{% extends "../layout.njk" %}

    {% block head %}
        <title>Foodfy - List</title>
    {% endblock %}
    {% block content %}
        <div class="admin-list">
            <div class="admin-list-header">
                <h1>Receitas</h1>
                <a href="/admin/recipes/create">Nova</a>
            </div>
            <div class="admin-list-cards">
                {% for item in items%}
                    <div class="admin-list-card" id="{{item.id}}">
                        <img src="{{item.src}}" alt="{{item.title}}">
                        <div class="admin-list-card-info">
                            <h2>{{item.title}}</h2>
                            <p>{{item.chef_name}}</p>
                            <a href="/admin/recipes/{{item.id}}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
