{% extends "../layout.njk" %}

    {% block head %}
        <title>{{item.title}}</title>
        
    {% endblock %}
    {% block content %}
        <div class="recipe-detail admin">
            <div class="description">
                <h1>Receita: {{item.title}}</h1>
                {% if session.sessionId == item.user_id%}
                    <a href="/admin/recipes/{{item.id}}/edit">Editar receita</a>
                {% elseif session.isAdmin == true  %}
                    <a href="/admin/recipes/{{item.id}}/edit">Editar receita</a>
                {% endif %}
            </div>
            <div class="gallery">
                <div class="highlight">
                    {% if not files[0] %}
                        <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" />
                    {% else %}
                        <img src="{{files[0].src}}" alt="{{files[0].name}}">
                    {% endif %}

                </div>
                <div class="gallery-preview">
                    {% for image in files %}
                        <img 
                            src="{{image.src}}" 
                            alt="{{image.name}}" 
                            {% if loop.index0 == 0 %}
                            class="active"
                            {%endif%}
                            onclick="ImageGallery.setImage(event)"
                            >
                    {% endfor %}
                </div>
            </div>

            <div class="recipe-title">
                <h1>{{item.title}}</h1>
                <h2>por {{item.chef_name}}</h2>
            </div>
            
            <div class="titles">
                <h1 class="title">Ingredientes</h1>
            </div>
            <ul class="content-ingredients">
                {% for ingredient in item.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>

            <div class="titles">
                <h1 class="title">Modo de Preparo</h1>
            </div>

            <ul class="content-prepare">
                {% for prepare in item.preparation %}
                    <li>{{prepare}}</li>
                {% endfor %}
            </ul>

            <div class="titles">
                <h1 class="title">Informações adicionais</h1>
            </div>
            <p class="content-info">{{item.information}}</p>
        </div>
    {% endblock %}
