@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    min-height: 100vh;
    padding-bottom: 50px;
}
/*==========HEADER=========*/
header {
    background-color: white;
    width: 100%;
}

.admin header {
    background-color: #111111;
    height: 80px;
}



#logo img{
    margin-top: 27px;
    width: 90.6px;
    height: 26.9px;
}

.menu   {
    font-size: 16px;
    width: 940px;
    margin-left: 16.4%;
    display: flex;
}

.admin .menu #link-logout{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 30px;
}


#link-about,
#link-recipes,
#link-chefs {
    margin-left: 122.4px;
    margin-top: 42px;
    text-decoration: none;
    color: black;
    line-height: 19px;
}

#link-recipes,
#link-chefs {
    margin-left: 30px;
}


#link-admin {
    margin-top: 42px;
    text-decoration: none;
    color: black;
    line-height: 19px;
    position: absolute;
    right: -10%;
}

.link-active {
    font-weight: bold;
}

.link-active-admin {
    color: #ffffff;
}

.menu form input {
    margin-left: 175px;
    margin-top: 28px;
    padding-left: 15px;
    width: 231px;
    height: 37px;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.menu form button {
    margin-left: 8px;
    padding: 9px 20px;
    color: #ffffff;
    line-height: 19px;
    font-size: 16px;
    font-weight: bold;
    background-color: #6558C3;
    border-radius: 4px;
}

.no-search {
    display: none;
}

.admin .links {
    margin-left: 50.4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 31px;
}

.admin .links a{
    text-decoration: none;
    font-weight: bold;
    color: #999999;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}
/*==========FOOTER=============*/

footer {
    width: 100%;
    text-align: center;
    background-color: #EEEEEE;
    height: 62px;
    display: flex;
    position: absolute;
    bottom: 0;
}

footer p{
    margin: auto;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

/*========DESCRIÇÃO CHEF===========*/

.description-home{
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 16.4%;
    display: flex
}

.text-home h1{
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
}

.text-home p{
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    opacity: 0.7;
}

.text-home {
    margin-left: 4.3%;
    margin-top: 10.6%;
    width: 316px;
}

.chef {
    position: absolute;
    margin: 66px 0 0 624px;
}

.chef img{
    width: 216px;
    height: 300px
}


/*==========MAIS ACESSADAS========*/

.recipes-home {
    margin-top: 50px;
    margin-left: 16.4%;
}
.recipes-home h1{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 320px 320px 320px;
}

.card img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
}

.card h2 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}

.card p{
    color: #777777;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

/*==========about=========*/

.about{
    margin: 50px 230px;
}

.about h1{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 1.8%;
}

.about p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2.7%;
}

.about h2{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 1.8%;
}

/* LISTAGEM CHEFS */

.chefs-container {
    margin-top: 20px;
    margin-left: 16.4%;
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chefs-container .chef-card {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
}

.chefs-container .chef-card img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.chefs-container .chef-card .chef-card-info {
    margin-left: 20px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chefs-container .chef-card .chef-card-info h2 {
    font-size: 18px;
    line-height: 21px;
}

.chefs-container .chef-card .chef-card-info p {
    margin-top: 5px;
    color: #666666;
    font-size: 14px;
    line-height: 16px;
}

.chefs-container .chef-card .chef-card-info a {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
}

.chefs-container .chef-card .chef-card-info a p{
    color: #6558C3;
}

/*=============DETALHE DA RECEITA=============*/

.recipe-detail,
.chef-detail {
    margin: 50px 230px 50px;
    width: 940px;
}

.admin .recipe-detail,
.admin .chef-detail{
    margin-top: 55px;
}


.admin .recipe-detail img {
    margin-top: 20px;
}

.admin .chef-detail .chef-image {
    margin-top: 50px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
}

.description h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.save {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #6558C3;
    border-radius: 4px;
    padding: 9px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-detail img{
    height: 280px;
    width: 940px;
    object-fit: cover;
    border-radius: 15px;
}

.chef-detail .chef-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chef-detail img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.recipe-title {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.chef-title {
    margin-top: 30px;
    margin-bottom: 4px;
    text-align: center;
}

.recipe-title h1,
.chef-title h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color: #111111;
}

.recipe-title h2,
.chef-title h2{
    font-size: 20px;
    line-height: 24px;
    color: #777777;
    font-weight: normal;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #111111;
}

.titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 8px;
}

.button-ingredients,
.button-prepare,
.button-info{
    font-size: 12px;
    color: #999999;
    line-height: 32px;
    cursor: pointer;
}


.content-ingredients,
.content-prepare {
    margin-top: 20px;
    margin-bottom: 39px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-left: 20px;
    display: none;
}

.content-info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    display: none;
}

.admin .content-ingredients,
.admin .content-prepare,
.admin .content-info {
    display: block;
}

.active {
    display: block;
}

/* BUSCA DE RECEITA */

.search{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;  
}

/*=============LISTAGEM ADMIN=============*/

.recipes-list {
    margin-left: 230px;
    max-width: 950px;
}

.recipes-list h1{
    margin-top: 50px;
    font-size: 24px;
    line-height: 28px;
}

.admin-list-cards {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 20px;
}

.admin-list-card {
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 20px;
}

.admin-list-card img{
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.admin-list-card-info h2{
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 5px;
}

.admin-list-card-info p {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.admin-list-card-info a{
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #6558C3;
    font-weight: bold;
}

/*=============EDIT ADMIN=============*/
.edit {
     margin-left: 230px;
     margin-top: 55px;
     width: 940px;
 }

.description{
     display: flex;
 }

.edit-content form .description button {
    background-color: #6558C3;
    border-radius: 4px;
    height: 37px;
    padding: 9px 20px;
    font-size: 16px;
    line-height: 19px;
    color: white;
    font-weight: bold;
    margin: 0;
}

.description a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6558C3;
    border-radius: 4px;
    padding: 9px 20px;
    font-size: 16px;
    line-height: 19px;
    color: white;
    font-weight: bold;
}

.description .delete {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: white;
    background-color: #DC4747;
    border-radius: 4px;
    position: absolute;
    padding: 9px 20px;
    left: 690px;
    top: -5px;
 }

 .description button{
     cursor: pointer;
 }

.edit-content form p{
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
 }

.edit-content form input,
.edit-content form select {
     width: 100%;
     border-radius: 4px;
     border: 1px solid #DDDDDD;
     box-sizing: border-box;
     padding: 15px 20px;  
 }

 .edit-content form .ingredient,
 .edit-content form .preparation {
    margin-bottom: 10px;
 }

.edit-content form textarea {
    height: 257px;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 18px 20px;
}

.edit-content form button {
    margin-top: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #6558C3;
    font-weight: bold;
    background: none;
    cursor: pointer;
}