<html>

    <head>
        {% block head %}
        <title>Foodfy</title>
        {% endblock %}
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="admin">
        <header>
            <div class="menu">
                <a href="/admin/receitas" id="logo"><img src="/logo-white.png" alt="Logo"></a>
                <div class="links">
                    <a href="/admin/receitas">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
                <a href="/" id="link-logout">logout</a>
            </div>
        </header>

        {%block content%}
        {% endblock %}

        <script src="/scriptAdmin.js"></script>
    </body>
</html>