/*==========FOOTER=============*/

footer {
    width: 100%;
    text-align: center;
    background-color: #EEEEEE;
    height: 62px;
    display: flex;
    position: absolute;
    bottom: 0;
}

footer p{
    margin: auto;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}