{% extends "./layout.njk" %}

    {% block head %}
        <title>Foodfy - Chefs</title>
    {% endblock %}


    {% block content %}
        <div class="chefs-container">
            {% for chef in chefs %}
                <div class="chef-card" id="{{chef.id}}">
                    <img src="{{chef.image}}" alt="{{chef.name}}">
                    <div class="chef-card-info">
                        <h2>{{chef.name}}</h2>
                        <p>3 receitas</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}