<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="../../../styles/index.css">
<link rel="stylesheet" href="../../../styles/session.css">
<link rel="stylesheet" href="../../../styles/messages.css">
<link rel="stylesheet" href="../../../styles/header.css">
<link rel="stylesheet" href="../../../styles/footer.css">
<link rel="stylesheet" href="../../../styles/pink-box-homepage.css">
<link rel="stylesheet" href="../../../styles/most-acessed.css">
<link rel="stylesheet" href="../../../styles/about.css">
<link rel="stylesheet" href="../../../styles/chef-list.css">
<link rel="stylesheet" href="../../../styles/recipe-detail.css">
<link rel="stylesheet" href="../../../styles/admin-lists.css">
<link rel="stylesheet" href="../../../styles/admin-edits.css">
<link rel="stylesheet" href="../../../styles/photos.css">
<link rel="stylesheet" href="../../../styles/user.css">











